footer {
	height: 100px;
	background-color: #9999ff;
	font: white;
	width: 100%;
	z-index: -10;

	position: fixed;
	bottom: 0;

	a {
		color: rgba(black, .5);
	}
	a:hover {
		color: rgba(black, .2);
	}
}