.recipe-post {
	display: flex;
	flex-direction: row;
	padding-top: 35px;
	div {

	}
	.left-div {
		width: 60%;
		padding-right: 25px;
		//background-color: pink;
	}
	.right-div {
		width: 40%;
		//background-color: blue;
		
	}
	.ingredients {
		background-color: #eee;
		border-radius: 7%;
		padding: 25px;

	}
}