body {
	font-family: 'Ubuntu', sans-serif;
	font-weight: 400;
}
.page-container {
	background-color: white;
	margin-bottom: 100px;
}

a:hover {
	text-decoration: none;

}

.header, h1, h2, h3 {
	font-family: 'Libre Baskerville', serif;
	font-weight: 400;
	font-style: italic;
}

ul {
	list-style: none;
}