<p id="notice"><%= notice %></p>

<div class="post-show-container">
	<div class="post-show">
		<h1><%= @post.title.titleize %></h1>

		<%= image_tag @post.image.url(:large), class: 'post-header-image' %>


		<%= raw @post.description %>

		
	</div>
</div>


