<p id="notice"><%= notice %></p>

<div class="post-show-container">
	<div class="post-show">
		<h1><%= @post.title.titleize %></h1>

		<%= image_tag @post.image.url(:large), class: 'post-header-image' %>
		<a href="https://www.pinterest.com/pin/create/button/">
		    <img src="//assets.pinterest.com/images/pidgets/pinit_fg_en_rect_gray_20.png" />
		</a>

		<%= raw @post.description %>

		
	</div>
</div>


